ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-color: bisque;
    width: 200px;
}
li a{
    display: block;
    background-color: rgb(236, 227, 147);
    padding: 10px 15px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: aqua;
    color: red;
}
.active {
    background-color: cornflowerblue;
    color: black;
}
li{
    text-align: center;
    border-bottom: 1px solid red;
}
li :last-child{
    border-bottom: none;
}